################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JSON.Parser/v14
/bin/Debug
/obj/Debug
/.vs
/obj/Release
