################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JSON.Parser/v14
src/bin/Debug
src/obj/Debug
src/obj/Release
src/.vs
